# Ambiente virtual
venv/
env/
.venv/

# Variáveis de ambiente
.env

# Banco de dados SQLite
*.db
*.sqlite3

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/

# Logs
*.log